
/*Imagem de Fundo*/
.hero{
background-image: url("fotos/gtafundo.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

height: 100vh;

color: rgb(12, 9, 9);

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/*Personagens*/
