body{
margin: 0;
}

/* HERO */
.hero{
height: 100vh;
background-image: url("fotos/gtafundo.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

animation: zoomHero 8s ease-in-out infinite alternate;
}

@keyframes zoomHero{
from{
background-size: 100%;
}
to{
background-size: 110%;
}
}

/* PERSONAGENS */
.personagens{
background-color: #0f0f0f;
color: white;
padding: 60px 20px;
text-align: center;
}

.cards{
display: flex;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
}

.cards article{
width: 250px;
transition: transform 0.3s ease;
}

.cards article:hover{
transform: translateY(-10px);
}

.cards img{
width: 100%;
height: 400px;
object-fit: cover;
object-position: top;
border-radius: 10px;
transition: transform 0.3s ease;
}

.cards img:hover{
transform: scale(1.05);
}

.trailer{
background-color: #000;
color: white;
text-align: center;
padding: 80px 20px;
}

.trailer iframe{
max-width: 100%;
border-radius: 10px;
}